<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
{% block head %}
    <meta http-equiv="refresh" content="30">
    <script src={% static 'jquery-3.6.0.min.js' %}></script>
    <link rel="stylesheet" href={% static 'tablesorter-master/css/theme.dropbox.min.css' %}>
    <link rel="stylesheet" href={% static 'nova_manager.css' %}>
    <script type="text/javascript" src={% static 'tablesorter-master/js/jquery.tablesorter.js' %}></script>
    <script type="text/javascript" src={% static 'tablesorter-master/js/jquery.tablesorter.widgets.js' %}></script>
    <script type="text/javascript" src={% static 'tablesorter_config.js' %}></script>
{% endblock head %}
</head>
<body>
{% include "manager/nova_header.html" %}
{% include "django_tables2/table.html" %}
</body>
</html>
